
@font-face {
    font-family: "Firago", sans-serif;
    src: url("../fonts/firago/firago-latin-100-normal.ttf");
    font-weight: 100;
}


@font-face {
    font-family: "Firago";
    src: url("../fonts/firago/firago-latin-200-normal.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Firago";
    src: url("../fonts/firago/firago-latin-300-normal.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Firago";
    src: url("../fonts/firago/firago-latin-400-normal.ttf");
    font-weight: 400;
}

body {
    font-family: "Firago", sans-serif;
}